<div class="card">
  <div class="card-header bg-info text-white">
    <h5 class="mb-0">S'enregistrer</h5>
  </div>
  <div class="card-body">
    <form>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="first-name" class="form-label">Nom</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Votre nom" name="first-name" id="first-name" required>
          </div>
        </div>
        <div class="col-md-6">
          <label for="last-name" class="form-label">Prénom</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Votre prénom" name="last-name" id="last-name" required>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <input type="email" class="form-control" placeholder="Votre adresse email" name="email" id="email" required>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary"><i class="fas fa-save me-2"></i>Sauvegarder</button>
      </div>
    </form>
  </div>
</div>
